* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: lightblue;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
          box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.app__left {
  width: 300px;
  padding: 30px;
  background-color: #0bb5f4;
}

.app__left--title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.app__left__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.app__left__header--img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.app__left__header--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app__left__header--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.app__left__header--name h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.app__left__header--name span {
  font-size: 13px;
  font-weight: 400;
}

.app__left__contact-info--list--item {
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.app__left__contact-info--list--item:hover {
  color: #e6e6e6;
}

.app__left__contact-info--list--item--icon {
  width: 30px;
  font-size: 18px;
  color: #065b7a;
}

.app__left__contact-info--list--item--content {
  font-weight: 400;
}

.app__left__languages--list--item {
  margin: 10px 0;
}

.app__left__languages--list--item--percent {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  margin-top: 5px;
  background-color: #065b7a;
}

.app__left__languages--list--item--percent--per {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.app__left__hobbies--list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.app__left__hobbies--list--item--icon {
  width: 25px;
  font-size: 18px;
  color: #065b7a;
}

.app__left--mt {
  padding-top: 40px;
}

.app__right {
  width: calc(100% - 300px);
  padding: 40px;
  color: #333;
  background: #ffffff;
}

.app__right--about {
  margin-bottom: 50px;
}

.app__right--about:last-child {
  margin-bottom: 0;
}

.app__right--title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #065b7a;
}

.app__right__projects--list {
  padding-left: 40px;
}

.app__right__projects--list--item {
  position: relative;
  margin: 24px 0;
  height: 100px;
}

.app__right__projects--list--item:first-child {
  margin: 0;
}

.app__right__projects--list--item--name {
  margin-bottom: 10px;
  font-weight: 700;
  color: #0991c3;
}

.app__right__projects--list--item--info {
  font-size: 14px;
  font-weight: 500;
}

.app__right__projects--list--item--info a:hover {
  border-bottom: 1px solid #0991c3;
}

.app__right__projects--list--item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #065b7a;
}

.app__right__projects--list--item::after {
  content: '';
  position: absolute;
  top: 14px;
  left: -21px;
  width: 3px;
  height: 115px;
  background: #065b7a;
}

.app__right__education--list {
  padding-left: 40px;
}

.app__right__education--list--item {
  position: relative;
}

.app__right__education--list--item--date {
  margin-bottom: 10px;
  font-weight: 700;
  color: #0991c3;
}

.app__right__education--list--item--status {
  font-weight: 500;
}

.app__right__education--list--item--university {
  font-weight: 300;
}

.app__right__education--list--item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #065b7a;
}

.app__right__education--list--item::after {
  content: '';
  position: absolute;
  top: 14px;
  left: -21px;
  width: 3px;
  height: 50px;
  background: #065b7a;
}

.app__right__skills--list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.app__right__skills--list--item--skill {
  width: 20%;
  font-weight: 500;
  text-transform: uppercase;
}

.app__right__skills--list--item--percent {
  position: relative;
  width: 100%;
  height: 10px;
  margin-top: 5px;
  background-color: #f0f0f0;
}

.app__right__skills--list--item--percent--per {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #0bb5f4;
}
/*# sourceMappingURL=style.css.map */