// VARIABLES
$primary: #0bb5f4;
$body-color: lightblue;
$white: #ffffff;
$text: #333;

// MAIN STYLES
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;

  background-color: $body-color;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);

  &__left {
    width: 30%;
    padding: 30px;

    background-color: $primary;

    &--title {
      margin-bottom: 20px;

      text-transform: uppercase;
      font-weight: 700;
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;

      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      &--img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--name {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        text-transform: uppercase;
        text-align: center;

        & h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.4;
        }

        & span {
          font-size: 13px;
          font-weight: 400;
        }
      }
    }

    &__contact-info {
      &--list {
        &--item {
          margin: 10px 0;
          cursor: pointer;

          transition: color 0.2s linear;

          &:hover {
            color: darken($color: $white, $amount: 10);
          }

          &--icon {
            width: 30px;
            font-size: 18px;
            color: darken($color: $primary, $amount: 25);
          }

          &--content {
            font-weight: 400;
          }
        }
      }
    }

    &__languages {
      &--list {
        &--item {
          margin: 10px 0;

          &--percent {
            position: relative;
            display: block;
            width: 100%;
            height: 6px;
            margin-top: 5px;

            background-color: darken($color: $primary, $amount: 25);

            &--per {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;

              background-color: $white;
            }
          }
        }
      }
    }

    &__hobbies {
      &--list {
        &--item {
          display: flex;
          align-items: center;
          margin: 5px 0;

          &--icon {
            width: 25px;

            font-size: 18px;
            color: darken($color: $primary, $amount: 25);
          }
        }
      }
    }

    &--mt {
      padding-top: 40px;
    }
  }

  &__right {
    width: 70%;
    padding: 40px;

    color: $text;
    background: $white;

    &--about {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--title {
      margin-bottom: 10px;

      text-transform: uppercase;
      color: darken($color: $primary, $amount: 25);
    }

    &__projects {
      &--list {
        padding-left: 40px;

        &--item {
          position: relative;
          margin: 24px 0;

          &:first-child {
            margin: 0;
          }

          &--name {
            margin-bottom: 10px;

            font-weight: 700;
            color: darken($color: $primary, $amount: 10);
          }

          &--info {
            font-size: 14px;
            font-weight: 500;

            & a:hover {
              border-bottom: 1px solid darken($color: $primary, $amount: 10);
            }
          }

          &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -25px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            border: 2px solid darken($color: $primary, $amount: 25);
          }

          &::after {
            content: '';
            position: absolute;
            top: 14px;
            left: -21px;
            width: 3px;
            height: 100px;
            background: darken($color: $primary, $amount: 25);
          }

          &:last-child::after {
            height: 60px;
          }
        }
      }
    }

    &__education {
      &--list {
        padding-left: 40px;

        &--item {
          position: relative;

          &--date {
            margin-bottom: 10px;

            font-weight: 700;
            color: darken($color: $primary, $amount: 10);
          }

          &--status {
            font-weight: 500;
          }

          &--university {
            font-weight: 300;
          }

          &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -25px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            border: 2px solid darken($color: $primary, $amount: 25);
          }

          &::after {
            content: '';
            position: absolute;
            top: 14px;
            left: -21px;
            width: 3px;
            height: 50px;
            background: darken($color: $primary, $amount: 25);
          }
        }
      }
    }

    &__skills {
      &--list {
        &--item {
          display: flex;
          align-items: center;
          margin: 20px 0;

          &--skill {
            width: 200px;
            margin-right: 5px;

            font-weight: 500;
            text-transform: uppercase;
          }

          &--percent {
            position: relative;

            width: 100%;
            height: 10px;
            margin-top: 5px;

            background-color: #f0f0f0;

            &--per {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;

              background-color: $primary;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .app__left {
    width: 100%;
    padding: 40px;

    &--title {
      margin-bottom: 15px;

      text-transform: uppercase;
      font-weight: 700;
    }

    &__contact-info {
      &--list {
        &--item {
          margin: 5px 0;
        }
      }
    }

    &__languages {
      &--list {
        &--item {
          margin: 5px 0;
        }
      }
    }

    &--mt {
      padding-top: 25px;
    }

    &__hobbies {
      &--list {
        display: flex;

        &--item {
          display: flex;
          align-items: center;
          margin: 5px 0 0 20px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .app__right {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .app__right {
    &--about {
      margin-bottom: 40px;
    }

    &--title {
      margin-bottom: 5px;
    }

    &__projects {
      &--list {
        padding-left: 10px;
        &--item {
          position: static;
          &--info {
            font-size: 13px;
          }
        }
      }
    }

    &__education {
      &--list {
        padding-left: 10px;
        &--item {
          position: static;
        }
      }
    }
  }
}
